.bell,
.envelope {
  font-size: 18px;
}
.navbar {
  background-color: white;
}
.collapse-container {
  display: flex;
  flex: 1;
}
.home-btn,
.notification-btn,
.msg-btn {
  border: none;
  background-color: white;
  color: #696969;
}
.home {
  font-size: 27px;
}
.search-bar {
  width: 221px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.tweet-btn {
  background-color: #2ab8db;
  color: white;
  border: none;
  width: 102px;
  height: 34px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 3%;
}
.sendFilebtn {
  font-weight: bold;
}

.user {
  font-size: 34px;
  margin-left: 3%;
  padding-left: 10px;
  padding-right: 10px;
  color: #696969;
}
.bird {
  font-size: 35px;
  color: #2ab8db;
  display: flex;
  width: 30%;
  justify-content: center;
}

.t-bird {
  width: 20%;
  display: flex;
  justify-content: center;
}
.bell-container {
  margin-left: 40px;
  margin-right: 40px;
}
.header-ele {
  display: flex;
  flex-direction: row;
}
.header-left {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.header-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  text-overflow: ellipsis;
}
.header-mid {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
}
.search-icon {
  justify-content: center;
  font-size: 25px;
  padding-right: 5px;
  padding-top: 5px;
}
@media screen and (min-width: 600px) {
  .search-icon {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .search-icon {
    display: block;
  }
}
